
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #000;
    font-weight: normal;
}
html{
    /* 自定义鼠标样式  */
    cursor: url("/img/指针.png"),pointer;
} 

.buttom{
    width: 1000px;
    height: 500px;
    
    border:10%;

    
    position: absolute;
    left: 10%;
    top: 40%;
    
    border-radius: 15px;
    text-align: center;
    
}
h1,h2{
    font-family: "宋体";
    color: aliceblue;
}
h1{
    
    font-size: 26px;
}
h2{
    
    font-size: 18px;
}

.anniu{
    background:linear-gradient(to right red,pink,blue); 
}
/* 按钮样式 */
.anniu button{
    width: 120px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid #FFFFFF;
    background:linear-gradient(45deg, #169deb, #be171fd0);


    margin:78px 137px 90px 133px ;
    text-align: center;
    font-size: 15px;
}


#sp{
    position: fixed;
    z-index: -1;
}
/* 解决页面缩放视频不会缩放的问题 */
@media(min-aspect-ratio:16/9){
    #sp{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio:16/9){
    #sp{
        width: auto;
        height: 100%;
    }
}

