
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #000;
    font-weight: normal;
}
html{
    /* 自定义鼠标样式  */
    cursor: url("/img/指针.png"),pointer;
} 


/* 按钮样式 */
.anniu button{
    width: 120px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid #FFFFFF;
    background:linear-gradient(45deg, #169deb, #be171fd0);


    margin:78px 137px 90px 133px ;
    text-align: center;
    font-size: 15px;
}


#sp{
    position: fixed;
    z-index: -1;
}
/* 解决页面缩放视频不会缩放的问题 */
@media(min-aspect-ratio:16/9){
    #sp{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio:16/9){
    #sp{
        width: auto;
        height: 100%;
    }
}

